*{   
    font-family: 'Open Sans', sans-serif ;
}
.link{
    text-decoration: none;
    color: #30ba67;
    border-right: 1px gray solid;
    border-left: 1px gray solid;
    padding: 2px;
}
.brand,
.lc
{
    display: inline-block;
}
.brand{
    color: #30ba67;
    margin-left: 25px;
}
.lc{
    float: right;
    margin-top: 25px;
    margin-right: 25px;
}
header{
    background-color: #20345d;
}
.txt{
    border-bottom: 1px gray solid;
}
.ah{
    color: #30ba67;
}
img{
    margin: 10px;
}
footer{
    background-color: #20345d;
    color: #30ba67;
    height: 75px;
}
.mail{
    margin: 25px;
}